* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-bg: #0f172a;
  --accent: #2563eb;
  --text-light: #ffffff;
  --text-muted: #cbd5f5;
}

.nav {
  height: 70px;
  width: 100%;
  padding: 0 40px;
  background: var(--nav-bg);
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 10px 30px rgba(15, 23, 42, 0.4);
}
.logo {
  font-size: 24px;
  font-weight: 700;
}

.logo span {
  color: var(--accent);
}

.menu {
  list-style: none;
  display: flex;
  gap: 32px;
}

.menu li {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-muted);
  cursor: pointer;
  position: relative;
}

.menu li:hover {
  color: var(--text-light);
}

.menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--accent);
  transition: width 0.3s ease;
}

.menu li:hover::after {
  width: 100%;
}

.job {
  text-decoration: none;
  color: inherit;
}

.login {
  padding: 10px 22px;
  border-radius: 999px;
  border: none;
  background: var(--accent);
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login:hover {
  background: #1e40af;
  transform: translateY(-1px);
}

.user-box {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
}

.user-box button {
  background: transparent;
  border: 1px solid #e5e7eb;
  padding: 7px 14px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
}

.user-box button:hover {
  background: #f5f5f5;
  color: #000;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  left: 2%;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav h1{
    margin-left: 10px;
  }

  .menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 220px;
    height: calc(100vh - 70px);
    background: var(--nav-bg);
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;
    display: none;
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.4);
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    font-size: 18px;
    color: var(--text-light);
  }

  .menu li::after {
    display: none;
  }
}
